@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #dad9d9;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d6b7f7;
  }
}

* {
  scroll-behavior: smooth;
  /* transition: 30ms ease, 70ms ease; */
}

.ant-table-filter-dropdown-btns .ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
}